<template>
  <section class="contact">
    <div class="contact-container">
      <div class="contact-titlearea">
        <div class="contact-title">Hi, I'm Leap Sok</div>
        <div class="contact-subtitle">Founder of Sala Services</div>
      </div>
      <div class="contact-content">
        <p>
          <strong>I feel your pain.</strong> You have done everything you can but something is missing. And it might not be your fault. You work hard to grow your school and take steps every day to make your school even better. But despite all the effort and energy, you keep asking yourself:
        </p>
        <blockquote>
          "Is there a better way? I dream of taking big steps and but I keep being drag down by things that do not matter. What if we didn't have any wifi problems, nobody complained about our systems, and everyone could focus on doing meaningful work?"
        </blockquote>
        <p>
          <strong>I started Sala Services to help people just like you.</strong> I dream about a future where you can do meaningful work all day, every day for the betterment of your students. Where you can give your students your full attention and make your school the best place to grow and flourish.
        </p>
        <p>
          <strong>Sala Services is about fixing those small and time-consuming tasks that pop up every day.</strong> Your wifi may be unreliable, your computers are too slow, or your staff needs more training so they can do their job effectively.
        </p>
        <p>
          Let's solve your problems and then we can sit down and talk about the future. <strong>Where are you now? where are you going? And what kind of IT infrastructure do you need to be able to handle your growth?</strong>
        </p>
        <p>
          Hope to hear from you soon!
          <span>Leap Sok, Founder</span>
        </p>

      </div>
      <div id="contact" class="contact-info">
        <div class="contact-info-title">
          <span>Contact Us</span>
        </div>
        <div class="contact-info-contact">
          <div class="contact-info-speak">
            <div class="contact-info-email">
              <div class="contact-info-subtitle">
                <span>Email</span>
              </div>
              <div class="contact-info-text">
                <span>Contact@salaservices.com</span>
              </div>
            </div>
            <div class="contact-info-phone">
              <div class="contact-info-subtitle">
                <span>Phone</span>
              </div>
              <div class="contact-info-text">
                <span>+855 12 240 042</span>
              </div>
              <div class="contact-info-text">
                <span>+855 15 860 304</span>
              </div>
            </div>
          </div>
          <div class="contact-info-address">
            <div class="contact-info-subtitle">
              <span>Address</span>
            </div>
            <div class="contact-info-text">
              <div>System Experts,</div>
              <div>Keo Chea St. (184),</div>
              <div>Phnom Penh, Cambodia</div>
            </div>
            <div class="contact-info-maps">
              <a target="_blank" href="https://www.google.com.kh/maps/place/System+Experts+Co.,+Ltd./@11.5619065,104.9197836,19z/data=!3m1!4b1!4m5!3m4!1s0x3109513ec48913ef:0xcab890fbcca28207!8m2!3d11.5619065!4d104.9203308">Google Maps</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </section>
</template>

<script>
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Footer
  }
}
</script>

<style scoped>
.contact {
  background: blue;
  background: linear-gradient(135deg, #3d68e7 0%,#7db9e8 100%);
  padding: 0 0 76px;
  color: #111;
  text-align: center;
}
.contact::before {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background-image: url(~/assets/section-bottom.svg);
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
.contact-container {
  text-align: left;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.15);
  padding: 40px 28px 40px;
  max-width: 704px;
  display: inline-block;
  margin: 48px 28px;
}
.contact-titlearea {
  margin-bottom: 28px;
  text-align: center;
}
.contact-title {
  font-weight: 700;
  font-size: 28px;
}
.contact-subtitle {
  margin-top: 8px;
  font-weight: 500;
}
.contact-content p {
  font-weight: 500;
  margin: 24px 0;
  line-height: 24px;
}
.contact-content p:last-child {
  margin-bottom: 0;
}
.contact-content strong {
  font-weight: 700;
}
.contact-content span {
  display: block;
  font-weight: 700;
}
.contact-content blockquote {
  color: #2A4999;
  font-weight: 600;
  margin: 40px 0;
  border-top: 2px solid #2a4999;
  border-bottom: 2px solid #2a4999;
  padding: 24px 0;
}
.contact-info {
  margin-top: 28px;
  padding-top: 28px;
  border-top: 2px solid #C4C4C4;
}
.contact-info-title {
  font-weight: 700;
  font-size: 28px;
  color: #2A4999;
}
.contact-info-contact {
  font-size: 18px;
  font-weight: 500;
}
.contact-info-subtitle {
  font-weight: 700;
  margin-bottom: 4px;
}
.contact-info-address,
.contact-info-email,
.contact-info-phone {
  margin-top: 18px;
}
.contact-info-maps {
  margin-top: 64px;
  margin-bottom: 18px;
  text-align: center;
}
.contact-info-maps a {
  text-decoration: none;
  color: white;
  background: #2A4999;
  padding: 18px 28px;
  font-size: 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.25);
}
@media all and (min-width: 670px) {
  .contact-container {
    padding: 48px;
  }
  .contact-content blockquote,
  .contact-content p {
    font-size: 24px;
    line-height: 30px;
  }
  .contact-title {
    font-size: 40px;
  }
  .contact-info {
    margin-top: 48px;
    margin-bottom: 28px;
  }
  .contact-subtitle {
    font-size: 24px;
    margin-top: 12px;
  }
  .contact-titlearea {
    margin-bottom: 40px;
  }
  .contact-info-contact {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  .contact-info-title {
    font-size: 40px;
  }
  .contact-info-maps {
    margin-bottom: 0px;
    margin-top: 48px;
  }
  .contact-info-maps a {
    font-weight: 600;
  }
}
</style>
