<template>
  <div class="footer">
    <div class="created">
      <span>Sala Services is Created By</span>
    </div>
    <div class="logo">
      <a href="https://www.systemexperts.asia/"><img src="~/assets/se-logo.svg" alt=""></a>
    </div>
    <div class="copy">
      <span>Copyright System Experts <br/> All Rights Reserved</span>
    </div>
  </div>
</template>

<style scoped>
.footer {
  color: white;
}
.created {
  font-size: 18px;
  font-weight: 700;
}
.logo {
  width: 274px;
  margin: 0 auto;
  padding: 15px 0;
}
.copy {
  font-weight: 700;
  line-height: 28px;
  font-size: 15px;
}
</style>
