<template>
  <header class="container">
    <div class="wrapper">
      <div class="branding">
        <div class="logo">
          <img src="~/assets/logo.svg" alt="Logo" />
        </div>
        <div class="title">
          <span>Sala Services</span>
        </div>
      </div>
      <div class="menu">
        <a href="#contact" class="menu-item">Contact Us</a>
      </div>
    </div>
  </header>
</template>
<style scoped>
.menu {
  display: none;
}
.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.branding {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 40px;
}
.title {
  padding-left: 10px;
  font-family: "Whitney-BoldSC";
  font-weight: 700;
  color: white;
  font-size: 24px;
}
@media all and (min-width: 704px) {
  .wrapper {
    justify-content: space-between;
    padding: 0 64px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .menu {
    display: inline-block;
  }

  .menu a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: 600;
  }
}
@media all and (min-width: 1236px) {
  .wrapper {
    padding: 0;
  }
}
</style>
