<template>
  <section class="intro">
    <div class="intro-wrapper">
      <div class="intro-info">
        <div class="intro-content">
          <div class="intro-title">
            <span>Grow Your School and We will Deal with Your IT Problems</span>
          </div>
          <div class="intro-text">
            <span>All growing schools run into the same problems. Students complain about the wifi, teachers are frustrated with their system and administration see their expense continue to grow just to maintain their current IT infrastructure.</span>
          </div>
        </div>
        <div class="intro-action">
          <a href="#contact">Contact Us Today</a>
        </div>
      </div>
      <div class="intro-client">
        <div class="intro-client-title">
          <span>Our Clients</span>
        </div>
        <div class="intro-client-list">
          <div class="intro-client-item">
            <img src="~/assets/client-g.png" alt="">
          </div>
          <div class="intro-client-item">
            <img src="~/assets/client-aba.png" alt="">
          </div>
          <div class="intro-client-item">
            <img src="~/assets/client-up.png" alt="">
          </div>
          <div class="intro-client-item">
            <img src="~/assets/client-e2stem.png" alt="">
          </div>
          <div class="intro-client-item">
            <img src="~/assets/client-hope.png" alt="">
          </div>
          <div class="intro-client-item">
            <img src="~/assets/client-asian.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
.intro {
  background: blue;
  background: linear-gradient(135deg, #3d68e7 0%,#7db9e8 100%);
  padding: 140px 0 0;
}

.intro-info,
.intro-client {
  padding: 0 28px;
}

.intro::after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background-image: url(~/assets/section.svg);
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
.intro-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}
.intro-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 600;
}
.intro-action {
  text-align: center;
}
.intro-action a {
  margin-top: 40px;
  display: inline-block;
  background: white;
  text-align: center;
  padding: 18px 48px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.15);
  color: #111;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
.intro .intro-client {
  padding-bottom: 28px;
}
.intro-client-title {
  font-size: 28px;
  text-align: center;
  padding: 76px 0 28px;
  color: rgba(255,255,255,0.8);
  font-weight: 600;
}
.intro-client-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.intro-client-item {
  background: white;
  width: 48%;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}
.intro-client-item img {
  border-radius: 4px;
}
  .intro-client {
    max-width: 524px;
    margin: 0 auto;
  }
@media all and (min-width: 606px) {
  .intro-content {
    width: 520px;
    margin: 0 auto;
  }
}
@media all and (min-width: 704px) {

  .intro-client {
    max-width: 704px;
  }

  .intro-client-item {
    width: 30.66%;
  }
  .intro-content,
  .intro-client {
    padding: 0 48px;
  }

  .intro-content {
    width: 690px;
    margin: 0 auto;
  }
  .intro-title {
    font-size: 40px;
  }
  .intro-text {
    font-size: 24px;
  }
}
@media all and (min-width: 1236px) {
  .intro-wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    padding-bottom: 48px;
  }
  .intro-info {
    padding-bottom: 76px;
    padding-left: 0;
  }
  .intro-client-title {
    padding-top: 0;
    display: none;
  }
  .intro-client-item {
    width: 48%;
  }
  .intro-action {
    text-align: left;
  }
  .intro-action a {
    font-size: 28px;
    padding: 24px 48px;
  }
  .intro-client {
    padding: 0;
    padding-left: 76px;
  }
  .intro-content {
    padding: 0;
    width: 600px;
  }
  .intro-text {
    font-size: 28px;
    line-height: 34px;
  }
}
</style>
