<template>
  <section class="selling">
    <div class="selling-intro-title">
      <span>Imagine not having to worry about your IT and being able to focus on growing your school?</span>
    </div>

    <div class="selling-list">
      <div v-for="(item, index) in items" :key="index" class="selling-list-item">
        <div class="selling-list-img">
          <img :src="item.image" alt="People with ideas">
        </div>
        <div class="selling-list-textarea">
          <div class="selling-list-title">
            <span>{{item.title}}</span>
          </div>
          <div class="selling-list-text">
            <span>{{item.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import iconTarget from '~/assets/icon-target.svg'
import iconRocket from '~/assets/icon-rocket.svg'
import iconTraining from '~/assets/icon-training.svg'

export default {
  data () {
    return {
      items: [
        {
          image: iconTarget,
          title: 'We Solve All Your IT Problems',
          text: 'With two in-house development teams, one infrastruture team, and a long outsourcing experience we are ready for all your IT problems on matter how big or small.'
        },
        {
          image: iconRocket,
          title: 'We Help You to Plan For The Future',
          text: "Your school will grow every year and we are here to make sure that your IT infrastructure will not interfere. Consult with us today so you don't have to rebuild your IT tomorrow."
        },
        {
          image: iconTraining,
          title: 'We Train Your Staff & Maintain Your IT',
          text: 'We will not just leave you and wish you good luck. Even the best IT infrastructure need to be maintained. We can train your people or bring our staff to run your IT department.'
        }
      ]
    }
  }
}
</script>

<style scoped>
.selling {
  background: white;
  padding: 0 28px 40px;
}

.selling-intro-title {
  font-size: 24px;
  font-weight: 700;
  color: #2A4999;
  line-height: 30px;
  text-align: center;
}

.selling-list {
  padding: 40px 0;
}
.selling-list-item {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 28px 24px;
  margin-bottom: 28px;
}

.selling-list-item:last-child {
  margin-bottom: 0;
}

.selling-list-item:nth-of-type(1) .selling-list-title {
  width: 190px;
}

.selling-list-item:nth-of-type(2) .selling-list-title {
  width: 250px;
}

.selling-list-item:nth-of-type(3) .selling-list-title {
  width: 250px;
}

.selling-list-title {
  font-size: 24px;
  width: 700;
  font-weight: 700;
  margin-bottom: 12px;
}

.selling-list-img {
  width: 200px;
  margin: 0 auto 18px;

}
.selling-list-text {
  line-height: 24px;
  font-weight: 500;
}

@media all and (min-width: 524px) {
  .selling-list-item:nth-of-type(1) .selling-list-title,
  .selling-list-item:nth-of-type(2) .selling-list-title,
  .selling-list-item:nth-of-type(3) .selling-list-title {
    width: auto;
  }
}

@media all and (min-width: 704px) {
.selling {
  padding: 0 48px;
}
.selling-list-item {
  display: flex;
  padding: 24px;
  align-items: center;
}

.selling-list-img {
  min-width: 124px;
  margin-bottom: 0;
}

.selling-list-textarea {
  margin-left: 24px;
}

.selling-intro-title {
  font-size: 28px;
  line-height: 32px;
  width: 565px;
  margin: 0 auto;
}
}

@media all and (min-width: 864px) {
  .selling {
    padding: 0 76px;
  }
  .selling-list-item {
    padding: 40px;
  }
  .selling-list-img {
    min-width: 124px;
  }
}

@media all and (min-width: 1000px) {
  .selling-intro-title {
    font-size: 40px;
    line-height: 48px;
    width: 850px;
  }
  .selling-list-item {
    width: 786px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media all and (min-width: 1268px) {
  .selling-intro-title {
    padding: 40px 0 48px;
  }
  .selling-list-title {
    font-size: 40px;
  }
  .selling-list-text {
    font-size: 24px;
    line-height: 32px;
  }
  .selling-list-item {
    padding: 40px;
    width: 1000px;

  }
  .selling {
    padding-bottom: 76px;
  }
  .selling-list-img {
    min-width: 164px;
  }
  .selling-list-textarea {
    margin-left: 48px;
  }
}
</style>
