<template>
  <main class="main">
    <Intro />
    <Selling />
    <Testimonials />
    <Contact />
  </main>
</template>

<script>
import Intro from '~/components/Intro.vue'
import Selling from '~/components/Selling.vue'
import Testimonials from '~/components/Testimonials.vue'
import Contact from '~/components/Contact.vue'

export default {
  components: {
    Intro,
    Selling,
    Testimonials,
    Contact
  },
  head () {
    return {
      title: "Sala Services - IT Services for Schools",
      meta: [
        { hid: 'description', name: 'description', content: 'Grow Your School and We will Deal with Your IT Problems.' }
      ]
    }
  }
}
</script>

<style scoped>
</style>
